/data/2022_01_19_hexagon_dataset_extended_public_hard1_dev_abstraction.jsonl
/data/2022_01_19_hexagon_dataset_extended_public_hard1_test.jsonl
/data/2022_01_19_hexagon_dataset_extended_public_hard1_train.jsonl
